
<div class="evaluation col-xs-12">
  <div class="evaluation-button clearfix">
    <%= link_to "Back" ,root_path ,:class=>"pull-left"%>
    <%= link_to "Send" ,root_path ,:class=>"pull-right",:id =>"eval-send"%>
  </div>
  <div class="evaluation-block col-xs-10 col-xs-push-1">
    <div class="evaluation-me text-center">
      <%= image_tag("ool.png") %>
      <h4>Abner Chao</h4>
      <p>We hope you had a great lesson! please leave your teacher a review on their profile for other students to see.</p>
    </div>

    <div id="rateYo" class="star-rating"></div>

    <div class="evaluation-comment">
      <h5>Comments</h5>
      <hr>
      <p>What did you like about your teacher, and what could your teacher improve?</p>
    </div>
  </div>
</div>
