<div class="container">
  <div class="row">
    <div class="col-md-1 sidebar">
      <%= render "sidebar" %>
    </div>
    <div class="col-md-8">
      <div class="public-content">
        <div class="public-head">
          <h4>基本資料</h4>
        </div>
        <div class="input-group clearfix">
          <label for="#your-input" class="pull-left language-select-fix">第二外語</label>
          <select class="language-select" multiple="multiple" style="width: 280px; margin-left: 15px; ">
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <h6>小提醒：如果您會其他外語歡迎填寫，這樣對學員來說會格外親切
        </h6>
        <hr>
        <div class="input-group clearfix intro-textarea-fix">
          <label for="#your-input">自我介紹</label>
          <textarea class="form-control"></textarea>
        </div>
        <hr>
        <div class="public-note">
          <h5>小提醒：</h5>
          <h6>小提醒：大部分的學員對於老師的教學方式、教學背景、已經經歷 會有濃厚的興趣，趕緊寫下你的寶貴經驗吧!</h6>
        </div>
      </div>
      <div class="public-save">
        <button type="button" name="button" class="btn btn-default">SAVE</button>
      </div>
    </div>
  </div>
</div>
