<div class="ios-background">
  <div class="ios-container">
    <div class="background  col-xs-12">
      <div class="col-xs-12 background-head">
        <h5>Background</h5>
      </div>
      <div class="col-xs-12 background-content">
        <h6 class="text-center">1994 - 2200</h6>
        <h5>Eduation</h5>
        <h6>Lorem ipsum dolor sit amet.</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit soluta suscipit veritatis, vitae
          voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
      </div>
      <div class="col-xs-12 background-content">
        <h6 class="text-center">1994 - 2200</h6>
        <h5>Eduation</h5>
        <h6>Lorem ipsum dolor sit amet.</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit soluta suscipit veritatis, vitae
          voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
      </div>
      <div class="col-xs-12 background-content">
        <h6 class="text-center">1994 - 2200</h6>
        <h5>Eduation</h5>
        <h6>Lorem ipsum dolor sit amet.</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit soluta suscipit veritatis, vitae
          voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
      </div>
      <div class="col-xs-12 background-content">
        <h6 class="text-center">1994 - 2200</h6>
        <h5>Eduation</h5>
        <h6>Lorem ipsum dolor sit amet.</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit soluta suscipit veritatis, vitae
          voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
      </div>
    </div>
  </div>
</div>
