<div class="container">
  <div class="row">
    <div class="col-md-1 sidebar">
      <%= render "sidebar" %>
    </div>
    <div class="col-md-8">
      <div class="public-content youtube-fix">
        <div class="public-head">
          <h4>介紹影片</h4>
        </div>
        <h5>個人短片簡介</h5>
        <div class="container-fluid">
          <div class="youtube-fram"></div>
          <div class="row">
            <div class="col-xs-3"><h5>Youtube 連結</h5></div>
            <div class="col-xs-9"><input type="text" class="form-control" aria-describedby="basic-addon1"></div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <h5>短片檢查列表</h5>
            </div>
            <div class="col-xs-9">
              <h6>・我們喜歡特寫，但建議您坐在離網路攝影機有一臂之遙的位置。</h6>
              <h6>・您只有3分鐘的時間，所以盡量言簡意賅。</h6>
              <h6>・盡量讓光線從前方照過來，而不是從後方。</h6>
              <h6>・眼望鏡頭，製造情感交流。</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <h5>教師專業介紹</h5>
            </div>
            <div class="col-xs-9">
              <h6>・我們喜歡聽到您來自哪裡、教育背景、以及教學經驗。</h6>
              <h6>・除了經歷外您會透過什麼樣的方式來給學員教學體驗？</h6>
              <h6>・我們喜歡跟您的興趣以及愛好有所連結。</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="public-save">
        <button type="button" name="button" class="btn btn-default">SAVE</button>
      </div>
    </div>
  </div>
</div>
