<div class="container">
  <div class="row">
    <div class="col-md-5 text-center  col-xs-12">
      <%= render "sidebar"%>
    </div>

    <div class="col-md-7  col-xs-12">
      <div class="scheduled-content scheduled-changepassword-fix">
        <div class="scheduled-content-head">
          <h4>Change Password</h4>
        </div>
        <div class="input-group clearfix">
          <label for="#your-input" class="pull-left">New Password</label>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group clearfix">
          <label for="#your-input" class="pull-left">Confirm Password</label>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="editprofile-save">
        <button type="button" name="button" class="btn btn-default">SAVE</button>
      </div>
    </div>
  </div>
</div>
