<div class="container">
  <div class="row">
    <div class="col-md-5 text-center col-xs-12">
      <%= render "sidebar"%>
    </div>

    <div class="col-md-7 col-xs-12">
      <div class="scheduled-content scheduled-editprofile-fix">
        <div class="scheduled-content-head">
          <h4>Edit Profile</h4>
        </div>
        <div class="input-group clearfix ">
          <label for="#your-input" class="pull-left">First Name</label>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group clearfix">
          <label for="#your-input" class="pull-left">Last Name</label>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group clearfix">
          <label for="#your-input" class="pull-left">I Am</label>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group clearfix">
          <label for="#your-input" class="pull-left">Birthday</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="input-group clearfix">
          <label for="#your-input" class="pull-left">Email</label>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group clearfix">
          <label for="#your-input" class="pull-left">Location</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="input-group clearfix">
          <label for="#your-input" class="pull-left">Currency</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="input-group clearfix">
          <label for="#your-input" class="pull-left">TimeZone</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="editprofile-save">
        <button type="button" name="button" class="btn btn-default">SAVE</button>
      </div>
    </div>
  </div>
</div>
