<!-- 老師評語的CSS在welcome裡面 -->
<div class="container">
  <div class="row">
    <div class="col-md-5 text-center  col-xs-12">
      <%= render "sidebar"%>
    </div>

    <div class="col-md-7">
      <div class="scheduled-content  col-xs-12">
        <div class="col-xs-12 clearfix flexmodify">
          <div class="info-mypic col-xs-3 pull-left">
            <%= image_tag("oval155.png") %>
          </div>
          <div class="info-eval col-xs-7">
            <p>Abner Chao</p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <span>(132)</span>
          </div>
          <div class=" col-xs-2 info-flag">
            <%= image_tag("flag.png") %>
          </div>
        </div>
        <div class="col-xs-12 clearfix info-tag">
          <i class="fa fa-comment-o"></i>
          <span>Speak
          </span>
          <span>Chinese,English</span><br>
          <i class="fa fa-usd"></i>
          <span>Rate
          </span>
          <span class="moneyred">400-650TW/hour</span><br>
          <i class="fa fa-rss"></i>
          <span>Trial
          </span>
          <span>Yes</span>
        </div>
        <div class="col-xs-12 info-pro-fix">
          <p>Hi! My name is Sarah, and I've been teaching English as a second language for the past 10 en teaching English as a second language for th en teaching English as a second language for th years. I completed my university studies in Sociology and
            Spanish,</p>
        </div>
      </div>
    </div>
  </div>
</div>
