<div class="clearfix"></div>
<div class=" text-center container ">
    <div class="col-xs-12 scheduled-head">
        <div class="col-xs-4">
            <h4>3</h4>
            <p>Scheduled</p>
        </div>
        <div class="col-xs-4">
            <h4>1</h4>
            <p>Past</p>
        </div>
        <div class="col-xs-4">
            <h4>0</h4>
            <p>Unscheduled</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="scheduled col-xs-12">
        <div class="scheduled-image img-responsive center-block">
            <div class="scheduled-dark"></div>
            <div class="scheduled-white">
                <%= image_tag("scheduled.png") %>
            </div>
            <div class="scheduled-text">
              <h5>SCHEDULED</h5>
              <h1>14:00 AM</h1>
              <h6>Sun, March27,2016</h6>
            </div>
        </div>

        <div class="col-xs-12 clearfix flexmodify">
            <div class="info-mypic col-xs-3 pull-left">
                <%= image_tag("oval155.png") %>
            </div>
            <div class="info-eval col-xs-7">
                <p>Abner Chao</p>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <span>(132)</span>
            </div>
            <div class=" col-xs-2 info-flag">
                <%= image_tag("flag.png") %>
            </div>
        </div>
        <div class="col-xs-12 clearfix scheduled-session">
            <p>1 session</p>
        </div>
    </div>
</div>
