.ios-container{
 width: 100%;
 max-width: 375px;
}
.ios-background{
  background-color: #F6F6F6 ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.background{
  margin-top: 0;
}
