$screen-sm-min : 768px;
$screen-md-min : 992px;
$screen-lg-min : 1200px;
* {
    font-family: Helvetica;
    font-weight: 100;
}
body {
    background-color: #F6F6F6;
}
.nav-modify {
    margin-bottom: 0;
    background-color: #C73C3C;
}
.navbar {
    border-radius: 0;
}
.nav-modify {
    span:nth-child(1) {
        color: #FF5F5F;
        font-size: 17px;
    }
    span:nth-child(2) {
        color: #fff;
        font-size: 17px;
    }
}
.nav-relative {
    position: relative;
}
.navbar-default {
    border-color: #C73C3C;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.brand-center {
    position: absolute;
    left: 50%;
    transform: translate(-40%);
}
.moneyred {
    color: #F96366;
}
// 價格錢的顏色
@media (max-width: $screen-sm-min) {
  .container{
    max-width: 400px;
  }
}
