// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//~~~~~~~~~~~~~~~~~這裡的info寫在welcome~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~這裡的infos寫在welcome.scss~~~~~~~~~~~~~~~~~~~~
.profile-image img {
  background: image-url("baby.png");
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
}
.profile-info {
  padding: 0;
  background-color: #fff;
  margin-top: 15px;
  border-radius: 5px;
  overflow: hidden;
  embed,
  iframe,
  object {
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    /*ios 7 border-radius-bug */
    -webkit-transform: rotate(0.000001deg);
    /*mac os 10.6 safari 5 border-radius-bug */
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    height: 291px;
    width: 488px;
  }
}
.trial {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0 10px;
  margin-top: 15px;
  h5 {
    line-height: 0.9;
  }
  p {
    font-size: 10px;
    line-height: 0.6;
  }
  button {
    width: 100%;
  }
}
.private {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0 10px;
  margin-top: 15px;
  button {
    width: 100%;
  }
  p {
    font-size: 10px;
    line-height: 0.6;
  }
}
.private-head {
  background-color: #F0F0F0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.private-money {
  padding: 6px 0;
  h6 {
    line-height: 2;
  }
}
.schedule {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0 10px;
  margin-top: 15px;
  img {
    width: 100%;
  }
}
.schedule-head {
  margin: 0;
  background-color: #F0F0F0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.background {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0 10px;
  margin-top: 15px;
  p {
    font-size: 10px;
  }
}
.background-head {
  background-color: #F0F0F0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.background-content {
  margin: 5px 0;
}
.rating {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0 10px;
  margin-top: 15px;
  img {
    width: 30px;
    height: auto;
  }
  i {
    color: #F7B952;
  }
}
.rating-head {
  background-color: #F0F0F0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.rating-content {
  margin-top: 10px;
  p,
  span {
    font-size: 10px;
  }
}
.rating-comment {
  margin-top: 8px;
}
.language-select-fix {
  margin-right: 15px;
  margin-top: -5px;
}
.youtube-fram {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-color: #000;
  margin-bottom: 20px;
}
@media (max-width: $screen-xs-min) {
  .profile-container .profile-info {
    embed,
    iframe,
    object {
      // height: ;
      max-width: 100%;
    }
  }
}
@media (max-width: $screen-sm-min) {
  .profile-body-padding {
    padding: 0;
  }
  .profile-container {
    width: 100%;
    max-width: 400px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .profile-info {
    embed,
    iframe,
    object {
      height: 206px;
      max-width: 370px;
    }
  }
}
.youtube-fix {
  embed,
  iframe,
  object {
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    // width="495" height="260"
  }
}
@media (max-width: $screen-sm-min){
  .youtube-fix {
    embed,
    iframe,
    object {
      width: 310px;
      height: (310px/16*9);
    }
  }
}
@media (min-width: $screen-sm-min)and (max-width: $screen-md-min) {
  .youtube-fix {
    embed,
    iframe,
    object {
      width: 610px;
      height: (610px/16*9);
    }
  }
  .profile-container {
    width: 700px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .youtube-fix input {
    width: 97%;
  }
  .profile-info {
    height: 230px;
    embed,
    iframe,
    object {
      -webkit-border-top-right-radius: 0;
      -moz-border-top-right-radius: 0;
      border-top-right-radius: 0;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
      overflow: hidden;
      width: 315px;
      height: 230px;
    }
  }
}
@media (min-width: $screen-md-min) {
  .youtube-fix {
    embed,
    iframe,
    object {
      width: 500px;
      height: (500px/16*9);
    }
  }
  .profile-image {
    img {
      width: 488px;
      height: 291px;
    }
  }
  .profile-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 518px;
    margin: 0;
    float: right;
  }
  .profile-fix {
    position: fixed;
    left: 58%;
    top: 52px;
    .profile-container {
      width: 331px;
      float: left;
    }
  }
  .gethering-fix {
    height: 300px;
  }
  .youtube-fix {
    height: auto;
    .col-xs-3 {
      padding-right: 0;
    }
    input {
      width: 96%;
    }
  }
}
