.input-group .form-control:last-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.public-head {
  margin: 15px -15px;
  background-color: #F0F0F0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  h4 {
    line-height: 35px;
    font-size: 16px;
    padding-left: 15px;
  }
}
.public-content {
  margin-top: 30px;
  padding: 0 15px;
  background-color: #fff;
  border-radius: 5px;
  h6 {
    font-size: 12px;
    color: #9b9b9b;
  }
  .input-group input,label {
    display: inline;
  }
  label {
    float: left;
    font-weight: lighter;
    line-height: 3;
    margin-left: -15px;
  }
  input {
    margin-left: 15px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  }
  .input-group {
    margin: 15px;
  }
  textarea {
    height: 160px;
    width: 280px;
    margin-left: 15px;
    resize: none;
  }
}
.public-save button {
  float: right;
  margin: 20px 0;
  color: #fff;
  background-color: #FC6063;
  width: 130px;
  height: 40px;
}
.input-group input,select {
  height: 40px;
}
.public-note {
  padding-bottom: 10px;
}
.public-content{
  h5,td{
    color: #6D6D6D;
    padding: 0 10px;
    line-height: 1.5;
  }
  table{
    margin-top: 30px;
  }
}
@media (max-width: $screen-xs-min) {
  .public-content {
    .input-group input,
    textarea,select{
      width: 100% !important;
    }
  }
  .public-content {
    .input-group textarea{
    height: 100px;
    width: 100%;
    }}
}
@media (max-width: $screen-sm-min) {
  .public-content {
    input,
    textarea {
      margin: 0 auto;
    }
    label {
      margin-right: 15px;
      margin-left: -15px;
    }
    .input-group {
      width: 95%;
      textarea {
      margin: 0 auto;
      height: 120px;
    }}
  }
  .public-save button {
    width: 100%;
  }
}
@media (min-width: $screen-sm-min)and (max-width: $screen-md-min) {
  .public-content {
    .input-group input,
    textarea {
      width: 400px !important;
    }
  }
}
@media (min-width: $screen-md-min) {
  .sidebar {
    width: 230px;
  }
  .public-head {
    margin-top: -15px;
  }
  .public-content {
    width: 555px;
    .input-group input,
    textarea {
      width: 400px !important;
    }
  }
  .public-save button {
    margin-right: -30px;
  }
  .input-group .form-control {
    width: 280px;
    // height: 40px;
  }
}
