// Place all the styles related to the scheduleds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.scheduled-head {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  color: #6A6A6A;
  h3 {
    font-weight: lighter;
    line-height: 0.8;
    margin-top: 10px;
  }
  p {
    line-height: 0.8;
    font-size: 14px;
  }
}
.scheduled {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 0 15px;
}
.scheduled-image {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .scheduled-dark {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 2;
    position: absolute;
  }
  .scheduled-white {
    z-index: 1;
  }
  .scheduled-text {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
    transform: translate(-50%,-45%);
    h1 {
      font-weight: lighter;
      line-height: 0.6;
    }
    h5 {
      color: #2ECEAC;
      line-height: 0.6;
    }
    h6 {
      color: #fff;
      line-height: 2;
    }
  }
}
.scheduled-session {
  text-align: right;
  p {
    margin: 0;
    line-height: 0.8;
    color: #6A6A6A;
  }
}
.scheduled {
  .col-sm-5,
  .col-sm-7 {
    padding: 0;
  }
}
.user-list {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  text-align: left;
  a {
    // display: block;
    text-decoration: none;
    line-height: 3;
    color: #6A6A6A;
  }
  i {
    color: #6A6A6A;
    margin: 0 10px;
  }
}
.scheduled-editprofile-fix {
  .input-group{
    width: 100%;
  .form-control {
    float: right;
  }}
}
@media (max-width: $screen-xs-min) {
  .scheduled-text {
    h1 {
      font-size: 19px;
    }
  }
  .scheduled-head {
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
  }
  .scheduled-editprofile-fix {
    .input-group {
      width: 100%;
    }
  }
}
@media (max-width: $screen-sm-min) {
  .editprofile-save button {
    width: 100%;
  }
}
@media (min-width: $screen-sm-min)and (max-width: $screen-md-min) {
  .scheduled {
    padding: 0;
  }
  .scheduled-editprofile-fix .input-group .form-control{
      width: 100% !important;
  }
  .scheduled-white {
    img {
      background-size: cover;
      height: 135px;
      width: 100%;
      overflow: hidden;
      border-top-right-radius: 0;
      border-bottom-left-radius: 5px;
    }
  }
  .scheduled-text {
    h1 {
      font-size: 22px;
    }
  }
  .scheduled-dark {
    width: 280px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
  .scheduled-editprofile-fix {
    .input-group {
      width: 600px;
    }
    .input-group .form-control {
      width: 500px;
    }
  }
  .scheduled-changepassword-fix {
    .input-group{
      width: 100%;
      .form-control{
        float: right;
        width: 400px;
        margin-right: 60px;
      }
    }}
}
@media (min-width: $screen-md-min) {
  .scheduled-white {
    img {
      width: 202px;
      height: 137px;
    }
  }
  .scheduled-text {
    h1 {
      font-size: 22px;
    }
  }
  .scheduled-dark {
    width: 202px !important;
  }
  .scheduled {
    padding: 0;
  }
  .scheduled-changepassword-fix {
    .input-group .form-control {
      width: 370px !important;
      margin-left: -5px;

    }
  }
  .scheduled-editprofile-fix {
    .input-group {
      width: 380px;
    }
  }
}
